* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

button {
  border-radius: 100px;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 2px 2px 0px;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.9s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0px, 0, 0);
  transition: 0.9s;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.header ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.bikcraft {
  display: grid;
  margin-top: 60px;
  gap: 60px;
  justify-items: center;
  border-radius: 4px;
  position: relative;
}

.nav a {
  padding: 15px 30px;
  background: white;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  border: solid 2px transparent;
}

.nav a:hover {
  border-color: #6f61c0;
}

.tittle h1 {
  font-weight: 100;
}

.nav {
  padding: 40px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.anuncio {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.descricao,
.descricao2 {
  display: grid;
  grid-column: 1/3;
  place-items: end;
  place-content: center;
  text-align: end;
  padding: 40px;
  gap: 20px;
  background: white;
  position: relative;
}

.descricao a:hover {
  background: #bf94ff;
}

.descricao2 a:hover {
  background: #bf94ff;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1/3;
}

.conteudo2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/3;
}

.descricao h1 {
  font-size: 2rem;
}

.descricao2 {
  grid-column: 1/1;
}

.foto {
  grid-column: 1/3;
  background: white;
}

.botao,
.card-btn,
.card-btn2 {
  display: block;
  padding: 15px 30px;
  border-radius: 4px;
  background: #6f61c0;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.vantagens h3 {
  font-size: 50px;
  color: #bf94ff;
  text-align: center;
}

.vantagens {
  display: grid;
  align-content: center;
  padding: 40px;
  background: #020001;
}

.especificacoes {
  padding: 40px;
  background: white;
}

.especificacoes h3 {
  color: #6f61c0;
}
.especificacoes-item {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
  gap: 10px 20px;
}

.especificacoes li:nth-child(odd) {
  background: #f7f7f7;
}

.especificacoes-item:hover {
  border-left: 4px solid #6f61c0;
}

.especificacoes p {
  color: grey;
  grid-column: 2/3;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 40px;
}

.topo {
  position: fixed;
  padding: 10px;
  right: 10px;
  bottom: 150px;
  border-radius: 100%;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 20px;
  justify-items: center;
  max-width: 1000px;
}

.card {
  display: grid;
  gap: 30px;
  background: white;
  padding: 20px;
}

.card img {
  border-radius: 4px;
}

.subpreco,
.selecionar-cor {
  color: grey;
  font-size: 0.8rem;
  margin-bottom: 4px;
  font-weight: 600;
}

.btn1 {
  background-color: #383636;
}

.btn2 {
  background-color: #dbcaae;
}

.btn3 {
  background-color: #72647b;
}

.btn4 {
  background-color: #e0e0e0;
}

.btn5 {
  background-color: #b52421;
}

.btn6 {
  background-color: #495c86;
}

.card-btn {
  text-align: center;
}

.card-btn:hover {
  background: #bf94ff;
}

.card-btn2 {
  text-align: center;
  background-color: white;
  color: grey;
  font-size: 0.9rem;
  font-weight: 600;
}

#contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #fff;
  width: 700px;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
}

.contato-item {
  margin: 6rem auto;
  line-height: 2;
  text-align: start;
}
.contato-item p {
  color: grey;
  font-size: 17px;
}
.contato-item h1 {
  font-size: 1.5rem;
}

.contato-item2 {
  border-radius: 6px;
}

.contato-item2 img {
  cursor: pointer;
}

.material-symbols-outlined {
  color: #6f61c0;
}

.material-symbols-outlined:hover {
  color: #bf94ff;
}

@media screen and (max-width: 800px) {
  .anuncio,
  .conteudo,
  .conteudo2 {
    grid-template-columns: 1fr;
  }

  .header {
    gap: 30px;
  }

  .nav {
    gap: 10px;
  }
  .nav a {
    display: block;
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }

  .descricao,
  .descricao2 {
    text-align: center;
    place-items: center;
    grid-column: auto;
  }

  .especificacoes p {
    font-size: 17px;
  }

  .foto {
    grid-column: auto;
  }

  .bikcraft {
    gap: 30px;
    margin-top: 20px;
  }
  .vantagens h3 {
    text-align: center;
    font-size: 2.8rem;
  }

  .especificacoes {
    text-align: center;
  }

  .grid-card {
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 350px;
  }
}
